/*

/node_modules
/vendor

!/app
!/bootstrap/cache/.gitignore
!/bootstrap/app.php
!/config
!/database
!/lang
!/public
!/resources
!/routes
!/storage

!/artisan
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/vite.config.js
